<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="${basedir}/logs/log.${longdate:cached=true}.log" 
            layout = "${exception:format=ToString}|${longdate}|${level:uppercase=true}|${callsite-filename:includeSourcePath=false}|${callsite-linenumber}|${message}"/>

        <target name="logconsole" xsi:type="Console" layout = "${message}" />

        <target xsi:type="ColoredConsole" name="coloredConsole" layout = "${message}" useDefaultRowHighlightingRules="false">
            <!-- Define color rules based on log levels -->
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Cyan" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta"/>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
        <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
</nlog>
